# Data & models (DVC-tracked, not git-tracked)
data/
models/
mlruns/
mlartifacts/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Environment & secrets
.venv
*.pem

# Spark
spark-warehouse/
derby.log
metastore_db/

# OS/IDE
.DS_Store
.idea/
.vscode/